// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
  justify-content: space-between;
  background: rgb(247, 248, 251);
  margin: 0px;
}

.navbar.navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.h1nav {
padding: 8px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

body{
  padding: 0px;
}
